.name{
    font-size: 5rem;
}

header{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.container{
    max-width: 800px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgreen
}